body, h1{
  padding: 0;
  margin: 0;
}

body{
  font-family: "Roboto", sans-serif;
}

section.headerimage{
  width: 100%;
  height: 50vw;

  background-image: url("../imgs/pointyboot.jpg");
  background-size: contain;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}


div.primary-text{
  width: 90%;
  margin: 0 auto;

}

div.primary-text>h1{
  color: #fff;
  font-size: 10rem;
  font-family: "Noticia Text", serif;
  line-height: 89%;
}

h3{
  font-family: "Noticia Text", serif;
}

section.content{
  width: 70vw;
  margin: 0 auto;
}

article#lead-text{
  width: 100%;
  font-style: italic;
  margin: 10vw 0;
}

article.secondary-text h3{
  margin: 3vw 0 1vw 0;
  font-size: 150%;
}

article.secondary-text p{
  font-weight: 100;
  font-style: normal;

  margin: 0;
}

article#small-stub{
  width: 60%;
}

section.stubs-background{
  background-color: #79c1b1;
  width: 100%;
}

div.stubs{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 5vw 0;
}

article#small-stub:nth-child(2n+0){
  align-self: flex-end;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 6vw 0;
}

#right-text{
  width: 50%;
}

.cir-img{
  background-image: url("../imgs/boot.gif");
  background-size: cover;
  background-position: center;

  width: 33vw;
  height: 33vw;
  border-radius: 50%;
  align-self: center;
  border: 5px solid #8febd6;
}
